$navColor: #FFFFFF;
$navBackgroundColor: #4056A1;
$navFontFamily: 'Bungee', cursive;
$navFontSize: xx-large;

nav {
  color: $navColor;
  height: 120px;
  display: flex;
  background-color: $navBackgroundColor;
  position: fixed;
  top: 0;
  width: 100%;
  span {
    font-family: $navFontFamily;
    font-size: $navFontSize;
    padding: 50px 1.5em;
  }
}

#newTweetNav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 1fr;
  margin-left: auto;
  padding: 50px 1.5em;
  align-items: center;
}

#newTweetNavIcon {
  color: red;
}

.fa {
  padding-left: 70px;
  font-size: $navFontSize;
}
