$errorColor: indianred;
$navColor: #FFFFFF;
$navBackgroundColor: #4056A1;
$navFontFamily: 'Bungee', cursive;
$layoutFontFamily: 'Source Sans Pro', sans-serif;
$tweetHeaderColor: #545149;
$tweetBackgroundColor: #f4f1ec;
$tweetDisplayColor: #c3b8b8;

section.newTweet {
  display: flex;
  flex-direction: column;
}

#newTweetInput {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

#newTweetErrorDisplay {
  color: $errorColor;
  font-weight: bolder;
  font-family: $layoutFontFamily;
}

#tweetText {
  width: 75%;
  align-items: center;
  background-color: inherit;
  border: unset;
  resize: none;
}

#tweetText:hover {
  border: 1px solid black;
}

#submitTweetDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80%;
  justify-content: end;
}

#newTweetButton {
  font-family: $navFontFamily;
  margin: 1em;
  background-color: $navBackgroundColor;
  color: $navColor;
}

#newTweetButton:hover {
  color: $errorColor;
}

.counter {
  align-content: flex-end;
  margin: 1em auto;
  user-select: none;
  font-weight: bolder;
  font-family: $navFontFamily;
}

.invalidTweetLength {
  color: $errorColor;
}

section.tweetDisplay header {
  color: $tweetHeaderColor;
  background-color: $tweetBackgroundColor;
  background-image: none;
  display: flex;
  flex-direction: inherit;
  height: 58px;
  justify-content: center;
  padding: unset;
  align-items: flex-start;
  width: 100%;
}

.tweetDisplayIcon {
  height: 2em;
  width: 2em;
}

.tweetDisplayName {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  user-select: none;
  color: black;
}

.tweetDisplayTag {
  user-select: none;
  color: $tweetDisplayColor;
}

.tweetContent {
  background-color: $tweetBackgroundColor;
  /**Note: Might want this later*/
  /* height: 97px;
  overflow: scroll; */
  background-image: none;
  border-bottom: 3px solid black;
}

.tweetDisplay footer {
  background-color: $tweetBackgroundColor;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 70%;
  width: 100%;
  justify-items: center;
  .tweetDisplay article {
    border: 3px solid black;
    padding: 0px 15px;
  }
  .tweetDisplay article:hover {
    box-shadow: $errorColor;
  }
}

.tweetPostDate {
  align-items: center;
  font-size: small;
  font-family: $layoutFontFamily;
  font-weight: 600;
  user-select: none;
  color: black;
}

.tweetResponseIcons {
  color: $navBackgroundColor;
  display: flex;
  .fa {
    padding: 0px 8px;
    font-size: medium;
  }
  .fa:hover {
    cursor:pointer;
    color: $errorColor;
  }
}
