section.newTweet {
  display: flex;
  flex-direction: column;
}

#newTweetInput {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

#newTweetErrorDisplay {
  color: indianred;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
}

#tweetText {
  width: 75%;
  align-items: center;
  background-color: inherit;
  border: unset;
  resize: none;
}
#tweetText:hover {
  border: 1px solid black;
}

#submitTweetDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80%;
  justify-content: end;
}

#newTweetButton {
  font-family: "Bungee", cursive;
  margin: 1em;
  background-color: #4056A1;
  color: #FFFFFF;
}
#newTweetButton:hover {
  color: indianred;
}

.counter {
  align-content: flex-end;
  margin: 1em auto;
  user-select: none;
  font-weight: bolder;
  font-family: "Bungee", cursive;
}

.invalidTweetLength {
  color: indianred;
}

section.tweetDisplay header {
  color: #545149;
  background-color: #f4f1ec;
  background-image: none;
  display: flex;
  flex-direction: inherit;
  height: 58px;
  justify-content: center;
  padding: unset;
  align-items: flex-start;
  width: 100%;
}

.tweetDisplayIcon {
  height: 2em;
  width: 2em;
}

.tweetDisplayName {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;
  user-select: none;
  color: black;
}

.tweetDisplayTag {
  user-select: none;
  color: #c3b8b8;
}

.tweetContent {
  background-color: #f4f1ec;
  /**Note: Might want this later*/
  /* height: 97px;
  overflow: scroll; */
  background-image: none;
  border-bottom: 3px solid black;
}

.tweetDisplay footer {
  background-color: #f4f1ec;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 70%;
  width: 100%;
  justify-items: center;
}

.tweetDisplay article {
  border: 3px solid black;
  padding: 0px 15px;
}
.tweetDisplay article:hover {
  box-shadow: 5px 0px indianred;
}

.tweetPostDate {
  align-items: center;
  font-size: small;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  user-select: none;
  color: black;
}

.tweetResponseIcons {
  color: #4056A1;
  display: flex;
}
.tweetResponseIcons .fa {
  padding: 0px 8px;
  font-size: medium;
}
.tweetResponseIcons .fa:hover {
  cursor: pointer;
  color: indianred;
}
