section.newTweet {
  display: flex;
  flex-direction: column;
}

#newTweetInput {
  display: flex;
  flex-direction: row;
  border-bottom: solid;
}

#tweetText {
  width: 75%;
  align-items: center;
  background-color: inherit;
  border: unset;
  resize: none;
}

#tweetText:hover {
  border: 1px solid black;
}

#submitTweetDiv {
  display: flex;
  flex-direction: row;
}

#newTweetButton {
  font-family: 'Bungee';
  margin: 1em;
  background-color: #4056A1;
  color: #FFFFFF;
}

#newTweetButton:hover {
  color: indianred;
}

.counter {
  padding-left: 40em;
  align-content: flex-end;
  margin: 1em auto;
  user-select: none;
  font-weight: bolder;
  font-family: 'Bungee';
}

.invalidTweetLength {
  color: indianred;
}

section.tweetDisplay header {
  color: #545149;
  background-color: #f4f1ec;
  background-image: none;
  display: flex;
  flex-direction: inherit;
  height: 58px;
  justify-content: center;
  padding: unset;
  align-items: flex-start;
  width: 100%;
}

.tweetDisplayIcon {
  height: 2em;
  width: 2em;
}

.tweetDisplayName {
  margin: 0.5em 38em 0 0;
  user-select: none;
  color: black;
}

.tweetDisplayTag {
  user-select: none;
  color: #c3b8b8;
}

.tweetContent {
  background-color: #f4f1ec;
  padding-bottom: 14px;
  /**Note: Might want this later*/
  /* height: 97px;
  overflow: scroll; */
  background-image: none;
  border-bottom: 3px solid black;
}

.tweetDisplay article {
  border: 3px solid black;
  padding: 0px 15px;
}

.tweetDisplay article:hover {
  box-shadow: 5px 0px indianred;
}

.tweetDisplay footer {
  background-color: #f4f1ec;
  background-image: none;
  margin: 5px;
  display: flex;
  flex-direction: inherit;
}

.tweetPostDate {
  align-items: center;
  font-size: small;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  user-select: none;
  margin-right: 72em;
  color: black;
}

.tweetResponseDate {
  display: flex;
}

.tweetResponseIcons {
  color: #4056A1;
  display: flex;
  justify-content: space-evenly;
}

.tweetResponseIcons .fa {
  padding: 0px 8px;
  font-size: medium;
}

.tweetResponseIcons .fa:hover {
  cursor:pointer;
  color:indianred;
}
